@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 8vh 5vw;
}

.content {
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-name {
  height: 9.5vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}

#vendor {
  margin: 0.3rem 0;
  color: #b9bbbf;
  font-size: 1rem;
  font-weight: 400;
}

#title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
  margin: 0;
}

.break-line {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin: 5px 0;
}

.price-content {
  height: 9vh;
  width: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.discount-amount {
  height: 4vh;
  width: 19vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#price {
  color: #3a4980;
  font-size: 2.1rem;
  font-weight: 700;
  margin: 0.7rem 0;
}

#discount {
  color: #ff000080;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.7rem 0;
}

#comparePrice {
  color: #00000080;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0.7rem 0;
  line-height: 1.6rem;
  text-decoration: line-through;
}

.color-choice {
  display: flex;
  width: 19.5vw;
  height: 3.8rem;
  justify-content: space-between;
  align-items: center;
}

.color-btn {
  height: 3.2rem;
  width: 3.2rem;
  border: none;
}

.color-btn img {
  display: none;
}

.size-content {
  height: 10vh;
  width: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.size-title {
  color: #b9bbbf;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.2rem;
  margin: 0.2rem 0;
}

.size-btn {
  width: 38vw;
  height: 2.5rem;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.size-btn button {
  border-radius: 8px;
  height: 1.8rem;
  background-color: #f3f3f3;
  border: none;
  padding: 7px 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 0.9rem;
  color: #726c6c;
}

.size-btn button:hover {
  color: #3a4980;
}

.cart-box {
  width: 42vw;
  min-height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.quantity-box {
  box-sizing: border-box;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5vh;
  width: 13vw;
  border-radius: 30px;
  color: #3a4980;
  padding: 0 2vw;
  font-size: 1.4rem;
  font-weight: 700;
}

.cart-btn {
  width: 25vw;
  height: 7.5vh;
  background-color: #3a4980;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  border: none;
  font-weight: 600;
}
.cart-btn img {
  height: 1.2rem;
  margin-right: 0.3rem;
}

.selection-msg {
  background-color: #e7f8b7;
  width: auto;
  min-height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#final-msg {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.2vh 3vw;
  padding: 0.1rem;
  display: none;
}

.content-img {
  width: 32vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-right: 5vw;
}

.main-img {
  width: 32vw;
  height: 68vh;
  border-radius: 10px;
}

.all-img {
  padding: 0;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

.all-img img {
  height: 5.1rem;
  width: 5.4rem;
  border-radius: 6px;
  cursor: pointer;
}

#description {
  color: #a3a3a3;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-block: 0;
  width: 47vw;
}

